-   var menu = [['grid','Grid','primary','line_style'],['elevations','Elevations','accent','layers'],['colors','Colors','info','group_work'],['fonts','Fonts','success','text_format'],['badges','Badges','warning','chat_bubble'],['buttons','Buttons','danger','arrow_forward'],['cards','Cards','primary','video_label'],['dialogs','Dialogs','accent','web_asset'],['lists','Lists','info','list'],['forms','Forms','success','font_download'],['menus','Menus','warning','menu'],['tables','Tables','danger','view_list'],['tool-bars', 'Toolbars', 'primary', 'add'],['tabs','Tabs','accent','add'],['tooltips','Tooltips','info','label'],['progress','Progress','success','trending_flat'],['spinner','Spinner','warning','refresh'],['sliders','Sliders','danger','add'],['toggles','Toggles','primary','add'],['notifications','Notifications','accent','add'],['chips','Chips','info','add'],['expansion-panels','Expansion panels','success','add'],['bottom-navigation','Bottom navigation','warning','add'],['bottom-sheets','Bottom sheets','danger','add'],['steppers','Steppers','primary','add'],['search', 'Search','accent','add'],['pickers', 'Pickers', 'info', 'add']];
doctype html
html(lang="en")
    head
        title="Pure Material CSS"
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href="./fonts/roboto/stylesheet.css", rel="stylesheet")
        link(href="./node_modules/normalize.css/normalize.css", rel="stylesheet")
        link(href="./css/pure-material.css", rel="stylesheet")
        link(href="./fonts/material-icons/material-icons.css", rel="stylesheet")
        link(href="./css/diagnostic-styles.css", rel="stylesheet")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css" />
    body
        header
            button(data-button="drawer")
                span.material-icons menu
            nav(data-drawer="left")
                div(data-drawer-content)
                    div(data-flexible-bar)
                        div(data-flexible-bar-media)
                            div
                                h2 PURE MATERIAL
                    ul(data-list)
                        each item in menu
                            li
                                a(href="#"+item[0])
                                    if item[3] === 'add'
                                        i.material-icons(data-background="default") #{item[3]}
                                    else
                                        i.material-icons(data-background=item[2]) #{item[3]}
                                    | #{item[1]}
            h1 PURE MATERIAL
            nav
                a(href="#about", data-button) About
                a(href="https://github.com/Masquerade-Circus/pure-material-css", data-button, target="_blank") Github
                a(href="https://github.com/Masquerade-Circus/pure-material-css/tree/master/css", data-button, target="_blank") Download
        //div(data-flexible-bar)
        //div(data-tab-bar)
        include pug/about.pug
        include pug/getting-started.pug

        // Components
        include pug/grid.pug
        include pug/elevations.pug
        include pug/colors.pug
        include pug/badges.pug
        include pug/buttons.pug
        include pug/cards.pug
        include pug/dialogs.pug
        include pug/lists.pug
        include pug/forms.pug
        include pug/menus.pug
        include pug/tables.pug
        include pug/tool-bars.pug
        include pug/tabs.pug
        include pug/tooltips.pug
        include pug/progress.pug
        include pug/spinner.pug
        include pug/sliders.pug
        include pug/toggles.pug
        include pug/notifications.pug
        include pug/chips.pug
        include pug/expansion-panels.pug
        include pug/bottom-navigation.pug
        include pug/bottom-sheets.pug
        include pug/steppers.pug
        include pug/search.pug
        include pug/pickers.pug
        include pug/fonts.pug

        footer
            h1 PURE MATERIAL
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
